.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  list-style: none;

  @media screen and (max-width: 768px) {
    width: 200px;
  }

  @media screen and (max-width: 360px) {
    & + & {
      margin-top: 30px;
    }
  }
}

// .containerImg {
//   border-radius: 50%;
//   border: 1px solid #000;
//   width: 200px;
//   height: 200px;
//   margin-bottom: 25px;
// }

.image {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 25px;
  box-shadow: 0 0px 10px 5px rgb(255 255 255 / 70%);

  @media screen and (max-width: 768px) {
    width: 150px;
    height: 150px;
  }
}

.title {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.text {
  font-size: 18px;
  font-weight: 500;
  outline: 1px;
  line-height: 20px;
  color: #fff;

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}
