.reletiveConteiner {
  position: relative;
}

.img1 {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: 768px) {
    bottom: -30px;
  }

  @media screen and (max-width: 360px) {
    bottom: -10px;
  }
}

.img2 {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: 360px) {
    bottom: -20px;
  }
}
