.reletiveConteiner {
  position: relative;
}

.img1 {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  z-index: 1;
}

.img2 {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  z-index: 1;
}
