.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 50px 100px 100px;
  background-color: #32383d;

  @media screen and (max-width: 768px) {
    padding: 50px 100px 50px;
  }

  @media screen and (max-width: 400px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 50px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.img {
  width: 60px;
}

.text {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    90deg,
    rgba(56, 128, 254, 1) 0%,
    rgba(199, 219, 248, 1) 58%,
    rgba(106, 150, 213, 1) 95%
  );
  //   background-image: linear-gradient(
  //     90deg,
  //     rgba(255, 255, 255, 1) 0%,
  //     rgba(112, 124, 240, 1) 33%,
  //     rgba(199, 219, 248, 1) 67%,
  //     rgba(106, 150, 213, 1) 95%
  //   );
  color: transparent;
}

.listAddress {
  margin-left: 20px;
  margin-top: 20px;
}

.listAddress {
  list-style: none;
}

.itemAddress {
  & + & {
    margin-top: 10px;
  }
}

.linkAddress {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: #4e91f5;
  }
}

.container2 {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    width: 200px;
  }

  @media screen and (max-width: 400px) {
    margin-top: 30px;
  }
}

.container3 {
  width: 300px;

  @media screen and (max-width: 400px) {
    margin-top: 30px;
    width: 200px;
  }
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
}

.list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  color: #fff;
  padding: 1px;
  & + & {
    margin-left: 3px;
  }
}

.listIcon {
  display: flex;
  list-style: none;
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #636566cc;
  transition: background-color 0.3s;

  & + & {
    margin-left: 10px;
  }

  &:hover {
    background-color: #4e91f5;
  }
}

.linkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.icon {
  width: 25px;
}

.icon2 {
  width: 45px;
}
