.container {
  padding: 100px 0 300px;
  background-color: #4b99e3;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto 50px;
  font-size: 40px;
  color: #fff;
}

.list {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}
