.container {
  // background-color: #5a798f;
  // background: linear-gradient(
  //   0deg,
  //   rgba(150, 150, 150, 1) 0%,
  //   rgba(196, 196, 196, 1) 30%,
  //   rgba(235, 235, 235, 1) 66%,
  //   rgba(242, 242, 242, 1) 100%
  // );
  padding: 100px 0 270px;

  @media screen and (max-width: 768px) {
    padding: 100px 0 200px;
  }

  @media screen and (max-width: 400px) {
    padding: 50px 0 100px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  font-size: 40px;
  margin: 0 auto 50px;

  @media screen and (max-width: 400px) {
    font-size: 30px;
  }
}

.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;

  margin: 0 auto;

  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
  z-index: 998;

  @media screen and (max-width: 400px) {
    flex-direction: column;
    min-width: 300px;
    height: 600px;
  }
}
