.containerOne {
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

  & + & {
    margin-top: 30px;
  }

  &.active {
    border-bottom: 1px solid #000;

    .shadow {
      box-shadow: inset 0 -60px 60px -60px #4e91f5,
        inset 0 -60px 60px -100px #4e91f5;
    }

    .title {
      transform: scale(1.1);
      z-index: 998;
    }
  }
}

.container {
  position: relative;
  text-decoration: none;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;

  cursor: pointer;

  &:hover .shadow {
    box-shadow: inset 0 -60px 60px -60px #4e91f5,
      inset 0 -60px 60px -100px #4e91f5;
  }

  &:hover .title {
    transform: scale(1.1);
    z-index: 998;
  }
}

.title {
  font-size: 35px;
  color: #000;
  background-color: #fcfcfce5;
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 0 0px 15px 10px rgb(255 255 255 / 70%);
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  border-radius: 20px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

  box-shadow: inset 0 -60px 60px -60px black, inset 0 -60px 60px -100px black;
}
