.img {
  width: 260px;

  @media screen and (max-width: 768px) {
    width: 130px;
  }
}

.name {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0 10px;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    font-size: 17px;
  }

  @media screen and (max-width: 400px) {
    font-size: 15px;
    height: 20px;
  }

  & + & {
    margin: 10px 0;
    margin-right: auto;
  }
}

.span {
  font-weight: 700;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  border: 0px solid transparent;
  border-radius: 4px;
  margin-left: auto;

  color: #fff;
  background-color: #3b7bdb;
  //   box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @media screen and (max-width: 768px) {
    padding: 8px 12px;
    font-size: 13px;
    width: 100px;
    height: 35px;
  }

  &:disabled {
    background-color: #a3d9ff;

    &:hover {
      background-color: #a3d9ff;
    }
  }

  &:hover {
    background-color: #1867de;
  }
}

.tost {
  @media screen and (max-width: 400px) {
    width: 50%;
  }
}
