.container {
  display: flex;
  flex-wrap: wrap;
  width: 950px;

  @media screen and (max-width: 768px) {
    width: 465px;
  }

  @media screen and (max-width: 400px) {
    width: 340px;
  }
}

.li {
  display: flex;
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 5px;
  background-color: #ebf2f7;
}

.img {
  width: 70px;
}

.text_container {
  margin-left: 20px;
}

.name {
  font-weight: 500;
}

.total {
  margin-left: 80px;
  font-size: 25px;
  font-weight: 600;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-left: 30px;
  }

  @media screen and (max-width: 400px) {
    margin-left: 10px;
  }

  @media screen and (max-width: 380px) {
    margin-left: 20px;
  }
}
