.item {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  background-color: #63ba76;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);

  @media screen and (max-width: 768px) {
    font-size: 15px;
  }

  @media screen and (max-width: 400px) {
    font-size: 12px;
    padding: 10px 15px;
    white-space: pre;
    margin: 4px 5px;
  }

  cursor: pointer;

  &:hover {
    background-color: #2ea32c;
  }

  & + & {
    margin-left: 20px;

    @media screen and (max-width: 768px) {
      margin-left: 15px;
    }

    @media screen and (max-width: 400px) {
      margin-left: 4px;
    }
  }
}

.active {
  background-color: #2ea32c;
}
